@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@100;200;300;400;500;600;700;800;900&display=swap');

*{
    font-family: 'Poppins', sans-serif;
}


body{
    background: #4282C4;
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
}
.box{
    background: white;
    width: 450px;
    padding: 25px;
    border-radius: 5px;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}

.upload-section{
    text-align: center;
    border: 2px dashed grey;
    width: 100%;
    border-radius: 5px;
    padding: 25px 0;
}
.upload-section img{
    width: 80px;
}
.upload-section p{
    border-bottom: 0;
}

.dimension-section{
    display: flex;
    justify-content: space-between;
    align-items: center;
    gap: 25px;
    margin-top: 15px;
    /* border: 1px solid; */
    width: 100%;
}
.dimension-section p{
    margin-bottom: 8px;
}
.dimension-section input[type="number"] {
    width: 100%;
    box-sizing: border-box;
    height: 40px;
    border: 2px solid grey;
    border-radius: 5px;
}


.ratio-div, .quality-div{
    display: flex;
    margin: 15px 0;
    justify-content: flex-start;
    align-items: center;
    width: 100%;
}

.ratio-div:input, .quality-div:input{
    
}